<h1>Help</h1>

<p>This is an example app for building and using APIs in different scenarios.
See <%= link_to "Chapter APIs", "https://backend-development.github.io/apis.html" %>
in the online book <%= link_to "BackendDevelopment", "https://backend-development.github.io/" %>
</p>