<h1>Privacy and Terms of Use</h1>

<p>This is an example app. Any data you
enter will be deleted very soon.  Before that, the data
is publicly visible on the Web.  So don't put private things
in here. 
</p>